.page-service {
	&__title {
		@include desktop {
			margin-bottom: vw(64);
			max-width: vw(612);
		}

		@include desktop-xl {
			margin-bottom: 64px;
			max-width: 612px;
		}
	}

	&__intro {
		position: relative;
		z-index: 5;

		&__image {
			margin-bottom: vm(16);

			img {
				width: 100%;
			}

			@include desktop {
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				margin-bottom: 0;
				width: 100%;
				height: 100%;
				background: 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&__authorized {
			background: $color-white;

			&__title {
				@include desktop {
					margin-bottom: vw(40);
					max-width: vw(438);
				}

				@include desktop-xl {
					margin-bottom: 40px;
					max-width: 438px;
				}
			}

			&__text {
				margin-bottom: vm(24);
				letter-spacing: -0.006em;

				@include desktop {
					margin-bottom: vw(40);
				}

				@include desktop-xl {
					margin-bottom: 40px;
				}
			}

			&__button {
				.button {
					padding: vm(17) vm(32);

					@include desktop {
						padding: vw(17) vw(32);
					}

					@include desktop-xl {
						padding: 17px 32px;
					}
				}
			}

			@include desktop {
				padding: vw(80) vw(205) vw(80) vw(88);
			}

			@include desktop-xl {
				padding: 80px 205px 80px 88px;
			}
		}

		@include desktop {
			padding: vw(104) vw(85) vw(104) vw(424);
			height: vw(675);
		}

		@include desktop-xl {
			padding: 104px 85px 104px 424px;
			height: 675px;
		}
	}
}
