.project-support
	.project-support__content
		h2.project-support__title
			| Сопровождение проектов
		.project-support__text
			| Наши представительства находятся во&nbsp;всех регионах&nbsp;РФ, а&nbsp;значит, оказывают одинаково высокий уровень поддержки проектировщиков и&nbsp;сопровождения проектов на&nbsp;всей территории России
		.project-support__links
			ul
				li: a(href="#") Объекты
					+svg('arrow-right')
				li: a(href="#") Филиалы
					+svg('arrow-right')
	.project-support__image
		img(src="./images/customer-escort.png" alt="")
