.top-menu(data-app="top-menu")
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.top-menu__item
					a.link-arrow(href="#") Весь каталог
					button.top-menu__item__arrow.for-mobile(type="button")
					.top-menu__item__drop
						ul
							li: a(href="#") Бытовые кондиционеры
							li: a(href="#") Мультисистемы
							li: a(href="#") Коммерческие кондиционеры
							li: a(href="#") DX PRO системы
			.swiper-slide
				.top-menu__item
					a.link-arrow(href="#") Кондиционирование
					button.top-menu__item__arrow.for-mobile(type="button")
					.top-menu__item__drop
						ul
							li: a(href="#") Кондиционирование
							li: a(href="#") Кондиционирование
			.swiper-slide
				.top-menu__item
					a.link-arrow(href="#") Бытовые кондиционеры
					button.top-menu__item__arrow.for-mobile(type="button")
					.top-menu__item__drop
						ul
							li: a(href="#") Бытовые кондиционеры
							li: a(href="#") Бытовые кондиционеры
			.swiper-slide
				.top-menu__item
					a.link-arrow(href="#") Страница серии SEMPAI
					button.top-menu__item__arrow.for-mobile(type="button")
					.top-menu__item__drop
						ul
							li: a(href="#") Страница серии SEMPAI
							li: a(href="#") Страница серии SEMPAI
			.swiper-slide
				.top-menu__item
					a(href="#") Инверторный кондиционер Kentatsu KSGP26HZRN1
