.page-not-found
	.container
		.breadcrumbs.breadcrumbs--margin
			ul
				li: a(href="#") Главная
				li 404

	.page-not-found__container
		.page-not-found__image(style="background-image:url(./images/404.jpg)")
		h1.page-not-found__title Страница не найдена
		.page-not-found__text
			| Вернитесь на главную или воспользуйтесь каталогом
		.page-not-found__button
			a.button(href="#") На главную
		.page-not-found__link
			a.link-arrow(href="#") В каталог
