.page-brand
	.container
		.breadcrumbs
			ul
				li: a(href="#") Главная
				li О бренде

		h1.page-title.page-title--border
			| О бренде

		.about
			.about__image.for-desktop(style="background-image:url(./images/about.jpg)")
			.about__image.for-mobile(style="background-image:url(./images/about-mobile.jpg)")
			.about__content
				.h1.about__title
					| Разумная достаточность#[sup: img(src="./images/icon.svg" alt="")]
				.about__subtext
					| Компания Kentatsu в&nbsp;своей деятельности руководствуется принципом разумной достаточности: умение сосредоточиться на&nbsp;главном позволило компании предложить потребителям качественные решения в&nbsp;области кондиционирования на&nbsp;оптимальных условиях.

		.page-brand__conditioning
			.page-brand__conditioning__image
				img(src="./images/brand-conditioning.png" alt="")
			.page-brand__conditioning__content
				.h1.page-brand__conditioning__title
					| Кондиционирование
				.page-brand__conditioning__text
					| Бренд Kentatsu представлен на&nbsp;российском рынке с&nbsp;2005&nbsp;года:
					br
					| именно в&nbsp;этом году в&nbsp;ассортименте &laquo;Даичи&raquo;, одного из&nbsp;крупнейших дистрибьюторов климатической техники, появился первый бытовой кондиционер Kentatsu (это была настенная сплит-система).
					br
					br
					| Сейчас основное направление работы компании&nbsp;&mdash; кондиционеры воздуха бытового, коммерческого и&nbsp;промышленного назначения: сплит- и&nbsp;мультисплит-системы, полупромышленные кондиционеры, центральные многозональные системы типа VRF Kentatsu DX&nbsp;PRO, фанкойлы.

		.page-brand__venting
			.page-brand__venting__content
				.h1.page-brand__venting__title
					| Вентиляция
				.page-brand__venting__text
					| Под торговой маркой Kentatsu Stormann Aero на&nbsp;европейском заводе (Чехия) производятся современные вентиляционные установки производительностью 800-85000 м3/ч. Доступны все специальные исполнения, газовые нагреватели, встроенные холодильные машины и&nbsp;т.&nbsp;д.
			.page-brand__venting__image
				img(src="./images/brand-venting.png" alt="")

		.page-brand__heating
			.page-brand__heating__image
				img(src="./images/brand-heating.png" alt="")
			.page-brand__heating__content
				.h1.page-brand__heating__title
					| Отопление
				.page-brand__heating__text
					| С&nbsp;2014 года Kentatsu также представляет на&nbsp;российском рынке современный модельный ряд отопительного оборудования&nbsp;&mdash; котлы различных типов и&nbsp;горелки.

	.page-brand__consumer
		.page-brand__consumer__title
			| Потребитель&nbsp;&mdash; на&nbsp;первом месте
		.page-brand__consumer__content
			.page-brand__consumer__image
				img(src="./images/brand-consumer.jpg" alt="")
			.h4.page-brand__consumer__text
				| Вся продукция Kentatsu разрабатывается так, чтобы в&nbsp;наибольшей степени соответствовать реальным потребностям пользователя: быть надежной, экономичной, удобной в&nbsp;эксплуатации, а&nbsp;главное&nbsp;&mdash; создавать идеальный комфорт в&nbsp;любом помещении.

	.container
		.page-brand__reliably
			.page-title.page-brand__title
				| Надежно.
				br
				| Рационально.
				br
				| Ничего лишнего.
			.page-brand__reliably__text
				| Мы&nbsp;уверены в&nbsp;качестве нашего оборудования. А&nbsp;также в&nbsp;том, что техника Kentatsu будет иметь только действительно необходимые пользователю функции&nbsp;&mdash; и&nbsp;ничего лишнего.
			.page-brand__reliably__button
				a.button(href="#") Каталог
