.container
	.breadcrumbs.breadcrumbs--margin
		ul
			li: a(href="#") Главная
			li: a(href="#") О компании
			li Кондиционирование

	include ../components/top-menu

	.page-conditioning
		h1.page-title
			| Кондиционирование

		.page-conditioning__intro
			.page-conditioning__intro__content
				.page-conditioning__intro__text
					| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на&nbsp;русском языке, а&nbsp;начинающему оратору отточить навык публичных выступлений в&nbsp;домашних условиях.
				.page-conditioning__intro__subtext
					| Проектирование, монтажные работы, сервисное обслуживание
			.page-conditioning__intro__image
				img(src="./images/conditioning.png" alt="")

		.page-conditioning__row
			.page-conditioning__col
				.page-conditioning__item
					.page-conditioning__item__content
						.h3.page-conditioning__item__title
							a(href="#") Мультисистемы
						.page-conditioning__item__text
							| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
						.page-conditioning__item__benefits
							ul
								li Наружные блоки
								li Внутренние блоки
					.page-conditioning__item__image
						img(src="./images/conditioning-2.png" alt="")
			.page-conditioning__col
				.page-conditioning__item
					.page-conditioning__item__content
						.h3.page-conditioning__item__title
							a(href="#") Коммерческие кондиционеры
						.page-conditioning__item__text
							| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
						.page-conditioning__item__benefits
							ul
								li Инверторные кондиционеры
								li Кондиционеры постоянной производительности
					.page-conditioning__item__image.page-conditioning__item__image--2
						img(src="./images/conditioning-3.png" alt="")
			.page-conditioning__col.page-conditioning__col--width-100
				.page-conditioning__item
					.page-conditioning__item__content
						.h3.page-conditioning__item__title
							a(href="#") Бытовые кондиционеры
						.page-conditioning__item__text
							| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на&nbsp;русском языке, а&nbsp;начинающему оратору отточить навык публичных выступлений в&nbsp;домашних условиях.
						.page-conditioning__item__tag
							ul
								li: a(href="#") SEMPAI
								li: a(href="#") YUMO
								li: a(href="#") KANAMI
								li: a(href="#") TURN
								li: a(href="#") KANAMI Inverter
								li: a(href="#") BRAVO Inverter
								li: a(href="#") BRAVO
								li: a(href="#") QUANTUM
					.page-conditioning__item__image.page-conditioning__item__image--3
						img(src="./images/conditioning-4.png" alt="")
			.page-conditioning__col
				.page-conditioning__item
					.page-conditioning__item__content
						.h3.page-conditioning__item__title
							a(href="#") Вентиляционные установки
						.page-conditioning__item__text
							| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
						.page-conditioning__item__benefits
							ul
								li Серия KRFN-HF
								li Серия KRFN-CF
					.page-conditioning__item__image.page-conditioning__item__image--4
						img(src="./images/conditioning-8.png" alt="")
			.page-conditioning__col
				.page-conditioning__item
					.page-conditioning__item__content
						.h3.page-conditioning__item__title
							a(href="#") Многозональные системы типа VRF
						.page-conditioning__item__text
							| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
						.page-conditioning__item__benefits
							ul
								li Серия KHHA(B)
					.page-conditioning__item__image.page-conditioning__item__image--5
						img(src="./images/conditioning-6.png" alt="")
			.page-conditioning__col.page-conditioning__col--width-100
				.page-conditioning__item
					.page-conditioning__item__content
						.h3.page-conditioning__item__title
							a(href="#") Отопительные установки
						.page-conditioning__item__text
							| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на&nbsp;русском языке, а&nbsp;начинающему оратору отточить навык публичных выступлений в&nbsp;домашних условиях.
						.page-conditioning__item__benefits
							ul
								li Для бытовых кондиционеров
								li Для DX PRO систем
								li Для коммерческих кондиционеров
								li Для фанкойлов
					.page-conditioning__item__image.page-conditioning__item__image--6
						img(src="./images/conditioning-11.png" alt="")
			.page-conditioning__col
				.page-conditioning__item
					.page-conditioning__item__content
						.h3.page-conditioning__item__title
							a(href="#") Фанкойлы
						.page-conditioning__item__text
							| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
						.page-conditioning__item__benefits
							ul
								li 2-х трубные
								li 4-х трубные
					.page-conditioning__item__image.page-conditioning__item__image--7
						img(src="./images/conditioning-9.png" alt="")
