.container
	.breadcrumbs
		ul
			li: a(href="#") Главная
			li Контакты

	.page-contacts
		.page-contacts__intro
			h1.h1.page-contacts__intro__title
				| Контакты
			.page-contacts__intro__image
				img(src="./images/contacts.png" alt="")

		.page-contacts__info
			.page-contacts__info__label
				| Эксклюзивный дистрибьютор Kentatsu на&nbsp;территории России ООО &laquo;Даичи&raquo;
			.page-contacts__info__list
				ul
					li
						a.event-phone(href="tel:+74957373733")
							span +7 495 737-37-33
					li г. Москва, Ленинградский проспект&nbsp;39, стр.&nbsp;80
					li: a.event-link(href="#") daichi.ru
					li: a.event-email(href="mailto:info@daichi.ru") info@daichi.ru
		.page-contacts__info
			.page-contacts__info__label
				| Дистрибьютор многозональных систем кондиционирования Kentatsu DX-Pro на&nbsp;территории России ООО &laquo;ВРФ ЦЕНТР&raquo;
			.page-contacts__info__list
				ul
					li
						a.event-phone(href="tel:+74952211832")
							span +7 495 221-18-32
					li г. Москва, улица Щукинская, дом&nbsp;6, корпус&nbsp;3
					li: a.event-email(href="mailto:nfo@rukent.ru") nfo@rukent.ru
					li: a.event-link(href="#") врф.рф
