.container
	.breadcrumbs
		ul
			li: a(href="#") Главная
			li: a(href="#") Партнёрам
			li Заказчикам

	.top-menu-list
		ul
			li: a(href="#") Партнерам
			li: a(href="#") Дилерам
			li: a(href="#") Девелоперам
			li.is-active Заказчикам
			li: a(href="#") Проектировщикам

	.page-customer
		.page-intro
			h1.page-title.page-intro__title
				| Заказчикам
			.page-intro__text
				| По&nbsp;своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у&nbsp;некторых людей недоумение при попытках прочитать рыбу текст. В&nbsp;отличии от&nbsp;lorem ipsum, текст рыба на&nbsp;русском языке наполнит любой макет непонятным смыслом и&nbsp;придаст неповторимый колорит советских времён.
			.page-intro__button
				a.button(href="#modal-customer" data-fancybox) Стать заказчиком

		.page-customer__goal
			.page-customer__goal__image(style="background-image:url(./images/customer-goal.jpg)")
			h2.page-customer__goal__title
				| Наша цель
			.page-customer__goal__text
				| Наша цель&nbsp;&mdash; помочь вам решить все необходимые задачи, связанные с&nbsp;системами вентиляции и&nbsp;кондиционирования воздуха. При этом мы&nbsp;всегда готовы предложить вам самые современные решения

		.page-customer__conditions
			.page-customer__conditions__image(style="background-image:url(./images/customer-conditions.jpg)")
			h2.page-customer__conditions__title
				| Лучшие условия сотрудничества
			.page-customer__conditions__text
				| Мы&nbsp;предлагаем весь спектр климатической техники ведущих мировых производителей для объектов любого типа и&nbsp;назначения. Мы&nbsp;предоставляем официальную гарантию на&nbsp;всю поставляемую технику.

		.page-customer__training
			.page-customer__training__image
				img(src="./images/customer-training.jpg" alt="")
			.page-customer__training__content
				h2.page-customer__training__title
					| Поддержка и&nbsp;обучение
				.page-customer__training__text
					| Мы&nbsp;предлагаем данные о&nbsp;поставляемом оборудовании, методах его подбора и&nbsp;проектирования, обучение представителей проектных организаций, сертификация и&nbsp;контроль качества оказываемых услуг.

		.page-customer__activity
			.page-customer__activity__image
				img(src="./images/customer-activity.jpg" alt="")
			.page-customer__activity__content
				h2.page-customer__activity__title
					| Мероприятия
				.page-customer__activity__text
					| В&nbsp;качестве дистрибьютора климатической техники ведущих мировых производителей Kentatsu но&nbsp;и&nbsp;организует специальные мероприятия в&nbsp;России и&nbsp;за&nbsp;рубежом, на&nbsp;которых у&nbsp;наших партнёров есть возможность получать новые знания и&nbsp;повышать свой профессиональный уровень.

		include ../components/project-support

		include ../components/register

.is-hidden
	.modal.modal-bid#modal-customer(data-app="modal-bid")
		.modal-bid__row
			.modal-bid__content
				.h2.modal-bid__title
					| Стать заказчиком
				.modal-bid__text
					| В ближайшее время с вами свяжется менеджер Даичи в Вашем регионе и предложит выгодные условия сотрудничества
					.modal-bid__text__hidden.is-hidden
						br
						| Став нашим дилером, Вы будете работать с лучшим оборудованием на рынке и получите всестороннюю поддержку одного из крупнейших дистрибьюторов климатической техники в России
						br
						br
						| Мы предоставляем нашим клиентам целый комплекс сервисов по поддержке продаж, включая онлайн сервисы в личном кабинете
			form.modal-bid__form(action="./ajax/become-dealer.json" method="get" data-app="form")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.modal-bid__form__item
								.form__row
									.form__col
										.input
											.input__label
												| Имя#[span.form__imp *]
											.input__field
												input(type="text" name="firstname" placeholder="Имя" data-validation={
													regex: ['^[^\\d]+$', 'ig'],
													maxlength: 300,
													messages: {
														regex: "Поле может содержать только буквы и символы"
													}
												} required)
									.form__col
										.input
											.input__label
												| Фамилия#[span.form__imp *]
											.input__field
												input(type="text" name="surname" placeholder="Фамилия" data-validation={
													regex: ['^[^\\d]+$', 'ig'],
													maxlength: 300,
													messages: {
														regex: "Поле может содержать только буквы и символы"
													}
												} required)
									.form__col
										.input
											.input__label
												| Отчество#[span.form__imp *]
											.input__field
												input(type="text" name="middlename" placeholder="Отчество" data-validation={
													regex: ['^[^\\d]+$', 'ig'],
													maxlength: 300,
													messages: {
														regex: "Поле может содержать только буквы и символы"
													}
												} required)
									.form__col
										.input
											.input__label
												| Телефон#[span.form__imp *]
											.input__field
												input(type="tel" data-app="mask" data-mask="+7(999) 999 99-99" placeholder="+7(000) 000 00-00" name="tel" required)
									.form__col
										.input
											.input__label
												| E-mail#[span.form__imp *]
											.input__field
												input(type="email" name="email" placeholder="E-mail" data-validation={
													regex: ['^\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,6}\\b$', 'i'],
													maxlength: 254,
													messages: {
														regex: "Неверный или некорректный e-mail адрес."
													}
												} required)
									.form__col
										.input(data-app="select" data-type="outside")
											.input__label
												| Город#[span.form__imp *]
											.input__field
												select(name="select" data-placeholder="Город" required)
													option(value="")
													option(value="1") Москва
													option(value="2") Москва 2
													option(value="3") Москва 3
													option(value="4") Москва 4
													option(value="5") Москва 5
								.modal-bid__form__item__footer
									button.button.modal-bid__form__item__next(type="button") Далее
						.swiper-slide
							.modal-bid__form__item
								.form__row
									.form__col
										.h4.modal-bid__form__item__subtitle
											| Направление деятельности
										.checkbox
											label
												input(type="checkbox" name="direction" value="1" required)
												i
												span Продажа
										.checkbox
											label
												input(type="checkbox" name="direction" value="2" required)
												i
												span Монтаж
										.checkbox
											label
												input(type="checkbox" name="direction" value="3" required)
												i
												span Проектирование
										.checkbox
											label
												input(type="checkbox" name="direction" value="4" required)
												i
												span Сервис
										.checkbox
											label
												input(type="checkbox" name="direction" value="5" required)
												i
												span Строительство
										.checkbox
											label
												input(type="checkbox" name="direction" value="6" required)
												i
												span Дизайн
									.form__col
										.h4.modal-bid__form__item__subtitle
											| Товарное направление
										.checkbox
											label
												input(type="checkbox" name="direction2" value="1" required)
												i
												span Кондиционирование
										.checkbox
											label
												input(type="checkbox" name="direction2" value="2" required)
												i
												span Вентиляция
										.checkbox
											label
												input(type="checkbox" name="direction2" value="3" required)
												i
												span Увлажнение
										.checkbox
											label
												input(type="checkbox" name="direction2" value="4" required)
												i
												span Отопление
								.h4.modal-bid__form__item__subtitle
									| Являетесь ли Вы частным лицом #[br]или представителем организации (юр. лицо/ИП)?
								.radio
									label
										input(type="radio" name="legal[]" required)
										i
										span Частное лицо
								.radio
									label
										input(type="radio" name="legal[]" required)
										i
										span Представляю организацию
								.modal-bid__form__item__footer
									button.button.button--gray.modal-bid__form__item__back(type="button") Назад
									button.button.modal-bid__form__item__next(type="button") Далее
						.swiper-slide
							.modal-bid__form__item
								.input
									.h4.modal-bid__form__item__subtitle
										| Меня интересует
									.checkbox
										label
											input(type="checkbox" name="interesting" required)
											i
											span Условия сотрудничества
									.checkbox
										label
											input(type="checkbox" name="interesting" required)
											i
											span Доступ к технической документации
								.input
									.input__label
										| Сообщение
									.input__field
										textarea(name="subject" placeholder="Сообщение" data-validation={
											maxlength: 300,
										} required)
								.checkbox
									label
										input(type="checkbox" name="checkbox" required)
										i
										span Я согласен с #[a.link-text(href="#" target="_blank") политикой конфиденциальности]
								.modal-bid__form__item__footer
									button.button.button--gray.modal-bid__form__item__back(type="button") Назад
									button.button.modal-bid__form__item__send(type="submit") Отправить заявку
