.container
	.breadcrumbs.breadcrumbs--margin
		ul
			li: a(href="#") Главная
			li: a(href="#") Поддержка
			li Техническая поддержка

	.top-menu-list
		ul
			li: a(href="#") Поддержка
			li.is-active  Гарантия
			li: a(href="#") Обслуживание и ремонт
			li: a(href="#") Техническая поддержка

	.page-guarantee
		h1.page-title.page-guarantee__title
			| Гарантия

		.page-guarantee__intro
			.page-guarantee__intro__content
				h2.page-guarantee__intro__title
					| Регистрация гарантийного талона
				.page-guarantee__intro__text
					| На&nbsp;оборудование торговой марки Daichi действует гарантия производителя. Срок и&nbsp;условия гарантии зависят от&nbsp;марки и&nbsp;модели оборудования. Для улучшения качества обслуживания зарегистрируйте ваш гарантийный талон у&nbsp;нас на&nbsp;сайте.
				.page-guarantee__intro__button
					a.button.button--black.event-registration(href="#") Перейти к&nbsp;регистрации
			.page-guarantee__intro__image
				img(src="./images/guarantee.jpg" alt="")
