.page-household
	.container
		.breadcrumbs.breadcrumbs--margin
			ul
				li: a(href="#") Главная
				li: a(href="#") Каталог
				li Кондиционирование

		include ../components/top-menu

		h1.page-title
			| Бытовые кондиционеры

		.page-household__tag
			ul
				li: a.button-tag(href="#") SEMPAI
				li: a.button-tag(href="#") YUMO
				li: a.button-tag(href="#") KANAMI INVERTER
				li: a.button-tag(href="#") BRAVO INVERTER
				li: a.button-tag(href="#") ICHI

	.page-household__intro
		.page-household__intro__image(style="background-image:url(./images/household.jpg)")
		.container
			.page-household__intro__content
				.h1.page-household__intro__title
					| Бытовые кондиционеры
				.page-household__intro__text
					| Надежно. Рационально. Ничего лишнего
				.page-household__intro__benefits
					ul
						li Биполярный ионизатор
						li Классический японский дизайн
						li Встроенный Wi-Fi интерфейс

	.container
		.page-household__row
			.page-household__col
				.page-household__item
					h2.page-household__item__title
						a(href="#") YUMO
					.page-household__item__slider(data-app="household-slider")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
						button.arrow-prev(type="button")
						button.arrow-next(type="button")
					.page-household__item__subtitle
						| Комфортный климат и стильный дизайн
					.page-household__item__text
						| Серия сочетает все передовые технологии, повышающие уровень комфорта. Этот кондиционер с&nbsp;легкостью создаст комфортный климат в&nbsp;помещении, а&nbsp;его стильный дизайн удачно впишется в&nbsp;интерьер.
					.page-household__item__benefits
						.page-household__item__benefits__row
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/refresh.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/box.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/certificate.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
					.page-household__item__buttons
						a.button(href="#") Подробнее
						a.button.button--black(href="#") Где купить
			.page-household__col
				.page-household__item
					h2.page-household__item__title
						a(href="#") SEMPAI
					.page-household__item__slider(data-app="household-slider")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
						button.arrow-prev(type="button")
						button.arrow-next(type="button")
					.page-household__item__subtitle
						| Комфортный климат и стильный дизайн
					.page-household__item__text
						| Кондиционеры серии SEMPAI включают в&nbsp;себя современные технологии энергоэффективности, комфорта и&nbsp;заботы об&nbsp;окружающей среде.
						br
						| Кондиционер выполнен в&nbsp;технологичном дизайне, имеет низкий уровень шума и&nbsp;интеллектуальное управление.
					.page-household__item__benefits
						.page-household__item__benefits__row
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/refresh.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/box.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/certificate.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
					.page-household__item__buttons
						a.button(href="#") Подробнее
						a.button.button--black(href="#") Где купить
			.page-household__col
				.page-household__item
					h2.page-household__item__title
						a(href="#") KANAMI INVERTER
					.page-household__item__slider(data-app="household-slider")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
						button.arrow-prev(type="button")
						button.arrow-next(type="button")
					.page-household__item__subtitle
						| Комфортный климат и стильный дизайн
					.page-household__item__text
						| Забота об&nbsp;окружающей среде и&nbsp;технологии, повышающие уровень комфорта. Применение экологичного хладагента R32, DC-инверторных компрессоров, технология объемного воздушного потока&nbsp;&mdash; все это в&nbsp;полной мере отвечает высоким современным стандартам.
					.page-household__item__benefits
						.page-household__item__benefits__row
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/refresh.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/box.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/certificate.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
					.page-household__item__buttons
						a.button(href="#") Подробнее
						a.button.button--black(href="#") Где купить
			.page-household__col
				.page-household__item
					h2.page-household__item__title
						a(href="#") YUMO
					.page-household__item__slider(data-app="household-slider")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
								.swiper-slide
									.page-household__item__slider__image
										img(src="./images/household-item.png" alt="")
						button.arrow-prev(type="button")
						button.arrow-next(type="button")
					.page-household__item__subtitle
						| Комфортный климат и стильный дизайн
					.page-household__item__text
						| Комфорт и&nbsp;экономия расходов на&nbsp;электроэнергию
						br
						| Кондиционеры серии Bravo Inverter безупречно оправдывают свое наименование. Уровень сезонной энергоэффективности инверторных кондиционеров BRAVO соответствует классу &laquo;А++&raquo;
					.page-household__item__benefits
						.page-household__item__benefits__row
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/refresh.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/box.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
							.page-household__item__benefits__col
								.page-household__item__benefits__item
									.page-household__item__benefits__item__icon
										img(src="./images/icons/certificate.svg" alt)
									.page-household__item__benefits__item__text
										| Ключевое преимущество
					.page-household__item__buttons
						a.button(href="#") Подробнее
						a.button.button--black(href="#") Где купить
