.container
	.breadcrumbs
		ul
			li: a(href="#") О бренде
			li: a(href="#") Блог
			li Детальная страница новости

	.page-detail
		h1.page-title.page-detail__title
			| Правила использования бытовых кондиционеров
		.page-detail__date
			| 27.05.2018

		.page-detail__content
			.wrapper
				.wrapper__side
					.page-detail__return
						a.link-return(href="#") Ко всем новостям
					.page-detail__return-bottom.for-desktop
						a.link-return(href="#") Ко всем новостям
				.wrapper__content
					.page-detail__wrap
						.page-detail__text
							| Контроль над мировым климатом все еще остается непосильной задачей для науки. Тогда как с&nbsp;регулированием температуры в&nbsp;комнатном масштабе легко справится бытовой кондиционер #[a.link-text(href="#") Kentatsu].Чтобы получить максимальную выгоду от&nbsp;приобретения устройства, следует внимательно изучить правила его эксплуатации.
						.h3.page-detail__subtitle
							| Практические рекомендации
						.page-text-list.page-detail__list
							ul
								li Не&nbsp;следует открывать окна и&nbsp;двери при включенной сплит-системе
								li Не&nbsp;направляйте холодный воздух на&nbsp;человека
								li Обеспечьте ежегодное техническое обслуживание кондиционера
						.page-detail__text
							| Не&nbsp;следует открывать окна и&nbsp;двери при включенной сплит-системе. Приток свежего воздуха, безусловно, необходим. Но&nbsp;кондиционер, вынужденный постоянно охлаждать поступающие извне теплые потоки, не&nbsp;может достигнуть запрограммированных пользователем параметров и&nbsp;работает на&nbsp;полную мощность длительное время. Подобный подход способен сократить срок эксплуатации изделия на&nbsp;несколько лет.
							br
							br
							| Не&nbsp;направляйте холодный воздух на&nbsp;человека. Данный вопрос следует решить уже на&nbsp;этапе монтажа устройства. Сама сплит-система не&nbsp;относится к&nbsp;причинам возникновения простудных заболеваний, а&nbsp;только ее&nbsp;неправильное использования. Потоки кондиционера должны быть направлены в&nbsp;сторону от&nbsp;спальных, рабочих мест обитателей помещения.
						.page-detail__image.page-detail__image--width-1020
							img(src="./images/news-detail.jpg" alt="")
						.page-detail__text
							| Обеспечьте ежегодное техническое обслуживание кондиционера. Требование, актуальное для автомобильного транспорта, применимо и&nbsp;по&nbsp;отношению к&nbsp;сплит-системам. Даже при отсутствии явных проблем устройство может нуждаться в&nbsp;очистке внутреннего и&nbsp;внешнего блоков, дозаправке хладагента. Если обращаться к&nbsp;специалистам в&nbsp;профилактических целях, интервала в&nbsp;12&nbsp;месяцев вполне достаточно, тогда как в&nbsp;случае с&nbsp;явными нарушениями функциональности откладывать звонок в&nbsp;сервис не&nbsp;рекомендуется. К&nbsp;факторам риска относятся конденсат в&nbsp;помещении, шумовое загрязнение, самопроизвольное выключение, недостаточное охлаждение, устойчивый неприятный запах.
							br
							br
							| Даже бюджетная модель Кентатсу сохраняет работоспособность в&nbsp;течение 8-10&nbsp;лет, когда владелец своевременно заботится о&nbsp;чистке комплектующих и&nbsp;техническом обслуживании, а&nbsp;также соблюдает правила эксплуатации устройства (как общие, так и&nbsp;указанные в&nbsp;приложенной производителем индивидуальной инструкции).
			.page-detail__return-bottom.for-mobile
				a.link-return(href="#") Ко всем новостям

		.subscribe
			.subscribe__content
				.h2.subscribe__title
					| Подписаться на&nbsp;рассылку#[sup: img(src="./images/icon.svg" alt="")]
				.subscribe__text
					| Получать актуальные новости и&nbsp;статьи
				form.subscribe__form(action="./ajax/subscribe.json" method="get" data-app="form" data-event="Subscribe")
					.subscribe__form__row
						.subscribe__form__input
							.input__field
								input(type="email" placeholder="Ваш email" name="email" data-validation={
									regex: ['^\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,6}\\b$', 'i'],
									maxlength: 254,
								} required)
						.subscribe__form__button
							button.button.button--black(type="submit") Подписаться
					.subscribe__form__checkbox
						.checkbox
							label
								input(type="checkbox" name="checkbox" required)
								i
								span Даю согласие на #[a.link-text(href="#") обработку персональных данных]
			.subscribe__image
				img(src="./images/subscribe.png" alt="")
