.container
	.breadcrumbs
		ul
			li: a(href="#") О бренде
			li: a(href="#") Объекты
			li Офис Mail.ru

	.page-detail
		h1.page-title.page-detail__title
			| Офис Mail.ru Group
		.page-detail__address
			| Москва, Ленинградский проспект, дом 70, БЦ&nbsp;Алкон II, 3&nbsp;и&nbsp;4&nbsp;этажи

		.page-detail__content
			.wrapper
				.wrapper__side
					.page-detail__label
						| Дата запуска
					.page-detail__info
						| 2020 год
					.page-detail__label
						| Оборудование
					.page-detail__info
						ul
							li EWAD820TZSSB2 - 1шт.
							li EWAD820TZSSB2 - 1шт.
					.page-detail__label
						| Общая площадь #[br] и&nbsp;этажность
					.page-detail__info
						| 6 этажей
					.page-detail__return-bottom.for-desktop
						a.link-return(href="#") Ко всем новостям
				.wrapper__content
					.page-detail__wrap
						.h2.page-detail__subtitle
							| Офис Mail.ru Group, Москва
						.page-detail__image
							img(src="./images/objects-detail.jpg" alt="")
						.page-detail__text
							| На&nbsp;момент публикации объект находился на&nbsp;стадии строительства.
							br
							br
							| Новый международный отель Hampton by&nbsp;Hilton Krasnodar категории 3*&nbsp;появится в&nbsp;центре Краснодара между улиц Красная, Мира, Рашпилевской и&nbsp;Орджоникидзе. Отель позиционируется совместно с&nbsp;находящимся по&nbsp;соседству Hilton Garden Inn.
							br
							br
							| Hampton by&nbsp;Hilton Krasnodar будет представлять собой современный 8-этажный гостиничный комплекс с&nbsp;примыкающим блоком конференц-залов, рестораном, баром, фитнес-залом и&nbsp;подземной автостоянкой. Номерной фонд расположится с&nbsp;3&nbsp;по&nbsp;8&nbsp;этажи, где будут обустроены 32&nbsp;стандартных одноместных номера, 22&nbsp;двухместных, 46&nbsp;флекс-номеров и&nbsp;2&nbsp;номера для маломобильных постояльцев.
							br
							br
							| Высокое качество обслуживания и&nbsp;международные стандарты сервиса сети отелей Hilton подразумевают современное техническое оснащение всех помещений отеля.
					.page-detail__return-bottom.for-mobile
						a.link-return(href="#") Ко всем новостям

			.wrapper
				.wrapper__side
				.wrapper__content
					.page-detail__wrap
						.page-detail__contact
							.h2.page-detail__contact__title
								| Свяжитесь с нами
							.page-detail__contact__phone
								a(href="tel:+74957373733") 8 495 737 37 33
							.page-detail__contact__address
								| Россия, Москва, ул. Адмирала Макарова, д.&nbsp;8
							.page-detail__contact__email
								a(href="mailto:info@daichi.ru") info@daichi.ru
