.container
	.breadcrumbs.breadcrumbs--margin
		ul
			li: a(href="#") Главная
			li: a(href="#") Каталог
			li Кондиционирование

	include ../components/top-menu

	.page-series
		.page-series__intro
			.page-series__intro__content
				h1.h3.page-series__intro__title
					| Серия #[span SEMPAI]
				.page-series__intro__text
					| Кондиционеры серии SEMPAI включают в&nbsp;себя современные технологии энергоэффективности, комфорта и&nbsp;заботы об&nbsp;окружающей среде. Кондиционер выполнен в&nbsp;технологичном дизайне, имеет низкий уровень шума и&nbsp;интеллектуальное управление.
			a.video.page-series__intro__video.event-video(href="https://www.youtube.com/watch?v=o9_sMktrcKQ&ab_channel=%D0%90%D0%92%D0%93%D0%A3%D0%A1%D0%A2-%D0%BA%D0%BB%D0%B8%D0%BC%D0%B0%D1%82" data-fancybox)
				.video__image
					img(src="./images/video.jpg" alt="")
				.video__play
					+svg('play')

		.page-series__tech
			.h1.page-series__tech__title
				| Современные технологии энергоэффективности, комфорта и&nbsp;забота об&nbsp;окружающей среде
			.page-series__tech__row
				.page-series__tech__col
					.page-series__tech__item
						.page-series__tech__item__image
							img(src="./images/series-tech.jpg" alt="")
						.page-series__tech__item__text
							| Современные FULL&nbsp;DC инвенторные технологии
				.page-series__tech__col
					.page-series__tech__item
						.page-series__tech__item__image
							img(src="./images/series-tech-2.jpg" alt="")
						.page-series__tech__item__text
							| Самодиагностика и&nbsp;автоматическая защита
				.page-series__tech__col
					.page-series__tech__item
						.page-series__tech__item__image
							img(src="./images/series-tech-3.jpg" alt="")
						.page-series__tech__item__text
							| Работа в&nbsp;составе мультисистемы
				.page-series__tech__col
					.page-series__tech__item
						.page-series__tech__item__image
							img(src="./images/series-tech-4.jpg" alt="")
						.page-series__tech__item__text
							| Технология Easy climate pro
			.page-series__tech__slider(data-app="series-slider")
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.page-series__tech__product
								.page-series__tech__product__image
									img(src="./images/series-tech-5.png" alt="")
								.page-series__tech__product__content
									.page-series__tech__product__top
										.h4.page-series__tech__product__title
											a(href="#") KSGP35HZRN1
										.page-series__tech__product__price
											| 52 700 ₽
									.page-series__tech__product__text
										| SEMPAI
									.page-series__tech__product__info
										ul
											li
												.page-series__tech__product__info__label Для помещения площадью, м2
												span 25
											li
												.page-series__tech__product__info__label Мощность (охлаждение),кВт
												span 0,6
											li
												.page-series__tech__product__info__label Сезонная энергоэффективность, SEER
												span 4,55/А+++
											li
												.page-series__tech__product__info__label Теплопроизводительность, кВт
												span 3,14
											li
												.page-series__tech__product__info__label Мощность (обогрев), кВт
												span 0,69
											li
												.page-series__tech__product__info__label Холодопроизводительность, кВт
												span 2,73
						.swiper-slide
							.page-series__tech__product
								.page-series__tech__product__image
									img(src="./images/series-tech-5.png" alt="")
								.page-series__tech__product__content
									.page-series__tech__product__top
										.h4.page-series__tech__product__title
											a(href="#") KSGP35HZRN1
										.page-series__tech__product__price
											| 52 700 ₽
									.page-series__tech__product__text
										| SEMPAI
									.page-series__tech__product__info
										ul
											li
												.page-series__tech__product__info__label Для помещения площадью, м2
												span 25
											li
												.page-series__tech__product__info__label Мощность (охлаждение),кВт
												span 0,6
											li
												.page-series__tech__product__info__label Сезонная энергоэффективность, SEER
												span 4,55/А+++
											li
												.page-series__tech__product__info__label Теплопроизводительность, кВт
												span 3,14
											li
												.page-series__tech__product__info__label Мощность (обогрев), кВт
												span 0,69
											li
												.page-series__tech__product__info__label Холодопроизводительность, кВт
												span 2,73
						.swiper-slide
							.page-series__tech__product
								.page-series__tech__product__image
									img(src="./images/series-tech-5.png" alt="")
								.page-series__tech__product__content
									.page-series__tech__product__top
										.h4.page-series__tech__product__title
											a(href="#") KSGP35HZRN1
										.page-series__tech__product__price
											| 52 700 ₽
									.page-series__tech__product__text
										| SEMPAI
									.page-series__tech__product__info
										ul
											li
												.page-series__tech__product__info__label Для помещения площадью, м2
												span 25
											li
												.page-series__tech__product__info__label Мощность (охлаждение),кВт
												span 0,6
											li
												.page-series__tech__product__info__label Сезонная энергоэффективность, SEER
												span 4,55/А+++
											li
												.page-series__tech__product__info__label Теплопроизводительность, кВт
												span 3,14
											li
												.page-series__tech__product__info__label Мощность (обогрев), кВт
												span 0,69
											li
												.page-series__tech__product__info__label Холодопроизводительность, кВт
												span 2,73
				button.arrow-prev(type="button")
				button.arrow-next(type="button")
			.page-series__tech__button
				a.button.button--black(href="#" target="_blank") Все характеристики серии

		.page-series__development
			.page-series__development__title
				| Самая передовая разработка KENTATSU
			.page-series__development__text
				| включившая в&nbsp;себя современные технологии энергоэффективности, комфорта и&nbsp;заботы об&nbsp;окружающей среде. Кондиционер выполнен в&nbsp;технологичном дизайне, имеет низкий уровень шума и&nbsp;интеллектуальное управление.
			.page-series__development__tag(data-app="series-tag")
				ul
					li: a.button-tag.js-goto(href="#desing") Дизайн
					li: a.button-tag.js-goto(href="#comfort") Комфорт
					li: a.button-tag.js-goto(href="#") Чистый воздух вашего дома
					li: a.button-tag.js-goto(href="#care") Забота о здоровье
					li: a.button-tag.js-goto(href="#efficacy") Энергоэффективность
					li: a.button-tag.js-goto(href="#reliability") Надёжность
					li: a.button-tag.js-goto(href="#app") Управление

		.h4.page-series__subtitle#desing
			| Дизайн
		.page-series__desing
			.page-series__desing__content
				.h2.page-series__desing__title
					| Классический японский дизайн в&nbsp;формате &laquo;EASY CLIMATE PRO&raquo;
				.page-series__desing__text
					| Внутренние блоки отличаются стильным дизайном, который несомненно впишется в&nbsp;любой интерьер, а&nbsp;качество сборки всегда соответствует самому высокому уровню.
			.page-series__desing__image
				img(src="./images/series-desing.jpg" alt="")

		.h4.page-series__subtitle#comfort
			| Комфорт
		.page-series__comfort
			.page-series__comfort__image
				img(src="./images/series-comfort.jpg" alt="")
			.page-series__comfort__content
				.h2.page-series__comfort__title
					| Объёмный 3D воздушный поток
				.page-series__comfort__text
					| Обеспечивает наилучшую циркуляцию воздуха в&nbsp;помещении за&nbsp;счет согласованных качаний заслонок и&nbsp;жалюзи.
		.page-series__comfort.page-series__comfort--black
			.page-series__comfort__content
				.h2.page-series__comfort__title
					| Рекордно низкий уровень шума
				.page-series__comfort__text
					| Всего 20,5 дБ
			.page-series__comfort__image
				img(src="./images/series-comfort-2.jpg" alt="")

		.h4.page-series__subtitle#care
			| Забота о здоровье
		.page-series__care
			.page-series__care__image
				img(src="./images/series-care.jpg" alt="")
			.page-series__care__content
				.h2.page-series__care__title
					| Биполярный ионизатор и&nbsp;многоступенчатая очистка воздуха
				.page-series__care__text
					| Cистема очистки воздуха включает фильтр предварительной очистки, фотокаталитический фильтр и&nbsp;биполярный ионизатор, генерирующий положительные и&nbsp;отрицательные ионы. Генератор ионов высвобождают положительные и&nbsp;отрицательные ионы, удаляя запах, пыль, дым и&nbsp;частицы пыльцы, обеспечивая свежий и&nbsp;здоровый воздух. Средняя степень стерилизации достигает&nbsp;99%.
				.page-series__care__icon
					img(src="./images/benefits/bipolar-ionizer.svg" alt="")
		.page-series__care.page-series__care--red
			.page-series__care__content
				.h2.page-series__care__title
					| Многоступенчатая очистка воздуха
				.page-series__care__text
					| Блок использует биполярный ионизатор &mdash;лучшую в&nbsp;мире систему фильтрации воздуха в&nbsp;кондиционере. В&nbsp;высоковольтном стримерном разряде гарантированно уничтожаются аллергены (споры плесени, пыльца, клещи&minus;сапрофиты, аллергены домашних животных). Современный генератор ионов, который высвобождает положительные и&nbsp;отрицательные ионы, удаляя запах, пыль, дым и&nbsp;частицы пыльцы, обеспечивая свежий и&nbsp;здоровый воздух. Средняя степень стерилизации может достигать&nbsp;99%.
			.page-series__care__image
				img(src="./images/series-care-2.jpg" alt="")
		.page-series__care.page-series__care--black
			.page-series__care__image
				img(src="./images/series-care-3.jpg" alt="")
			.page-series__care__content
				.h2.page-series__care__title
					| Автоматическая очистка испарителя
				.page-series__care__text
					| Внутренние блоки отличаются стильным дизайном, который несомненно впишется в&nbsp;любой интерьер, а&nbsp;качество сборки всегда соответствует самому высокому уровню.
				.page-series__care__icon
					img(src="./images/benefits/cleaning.svg" alt="")

		.h4.page-series__subtitle#reliability
			| Японская надежность
		.page-series__reliability
			.page-series__reliability__row
				.page-series__reliability__col
					.page-series__reliability__item
						.h2.page-series__reliability__item__title
							a(href="#") Самодиагностика и&nbsp;автоматическая защита
						.page-series__reliability__item__row
							.page-series__reliability__item__icon
								img(src="./images/benefits/self-test.svg" alt="")
							.page-series__reliability__item__text
								| Микропроцессор кондиционера Kentatsu, который может определить неисправность кондиционера и&nbsp;отобразить на&nbsp;табло индикации внутреннего блока факт ее&nbsp;появления. Основываясь на&nbsp;информации от&nbsp;световых индикаторов, пользователь получает информацию о&nbsp;виде неисправности.
				.page-series__reliability__col
					.page-series__reliability__item
						.h2.page-series__reliability__item__title
							a(href="#") Антикоррозийное покрытие Golden Fin
						.page-series__reliability__item__row
							.page-series__reliability__item__icon
								img(src="./images/benefits/anti-corrosion.svg" alt="")
							.page-series__reliability__item__text
								| Микропроцессор кондиционера Kentatsu, который может определить неисправность кондиционера и&nbsp;отобразить на&nbsp;табло индикации внутреннего блока факт ее&nbsp;появления. Основываясь на&nbsp;информации от&nbsp;световых индикаторов, пользователь получает информацию о&nbsp;виде неисправности.
				.page-series__reliability__col
					.page-series__reliability__item
						.h2.page-series__reliability__item__title
							a(href="#") Защита от&nbsp;нестабильности электропитания
						.page-series__reliability__item__row
							.page-series__reliability__item__icon
								img(src="./images/benefits/power-instability.svg" alt="")
							.page-series__reliability__item__text
								| В&nbsp;кондиционер изначально встроен стабилизатор напряжения, он&nbsp;не&nbsp;только сбережет ваши средства, но&nbsp;и&nbsp;окажется практически незаме ним в&nbsp;сельской местности, в&nbsp;многоквартирных домах, в&nbsp;промышленных районах крупных городов.
				.page-series__reliability__col
					.page-series__reliability__item
						.h2.page-series__reliability__item__title
							a(href="#") Антикоррозийное покрытие Golden Fin
						.page-series__reliability__item__row
							.page-series__reliability__item__icon
								img(src="./images/benefits/protection.svg" alt="")
							.page-series__reliability__item__text
								| В&nbsp;случае обнаружения процессором наружного блока утечки фреона в&nbsp;кондиционере, датчик, находящийся во&nbsp;внутреннем блоке, подаст звуковой сигнал. Таким образом пользователь сможет своевременно выключить кондиционер и&nbsp;обратиться в&nbsp;сервисную компанию.

		.h4.page-series__subtitle#efficacy
			| Энергоэффективность
		.page-series__efficacy.page-series__efficacy--red
			.page-series__efficacy__image
				img(src="./images/series-efficacy.jpg" alt="")
			.page-series__efficacy__content
				.h2.page-series__efficacy__title
					| Максимальная энергоэффективность
				.page-series__efficacy__text
					| Это высочайший уровень разработки, позволивший соединить преимущества самого экологичного хладагента R32 и&nbsp;новейшие достижения в&nbsp;области инверторных компрессорных технологий для достижения лучших в&nbsp;мире показателей в&nbsp;области энергосбережения.
				.page-series__efficacy__icon
					img(src="./images/benefits/eco-friendly.svg" alt="")
		.page-series__efficacy
			.page-series__efficacy__content
				.h2.page-series__efficacy__title
					| Экологичный хладагент R-32
				.page-series__efficacy__text
					| Современные кондиционеры Kentatsu SEMPAI работают на&nbsp;озонобезопасном фреоне R32, который отражает степень воздействия парниковых газов на&nbsp;глобальное потепление, тем самым оказывая значительно меньшее негативное влияние на&nbsp;окружающую среду.
				.page-series__efficacy__icon
					img(src="./images/benefits/r-32.svg" alt="")
			.page-series__efficacy__image
				img(src="./images/series-efficacy-2.jpg" alt="")

		.h4.page-series__subtitle#app
			| Управление
		.page-series__app
			.page-series__app__image
				img(src="./images/series-app.jpg" alt="")
				.page-series__app__image__wifi
					img(src="./images/wifi.jpg" alt="")
			.page-series__app__content
				.h1.page-series__app__title
					| Технология EASY CLIMATE PRO
				.page-series__app__row
					.page-series__app__text
						| Возможность управления со&nbsp;смартфона или&nbsp;ПК при помощи мобильного приложения Daichi Comfort и&nbsp;Wi-Fi-контроллера. Одно мобильное приложение может контролировать все объекты и&nbsp;помещения.
					.page-series__app__daichi
						.page-series__app__daichi__image
							img(src="./images/daichi-2.jpg" alt="")
						.page-series__app__daichi__content
							.page-series__app__daichi__title
								| Daichi Comfort
							.page-series__app__daichi__text
								| Скачайте в App Store или Google Play
							.page-series__app__daichi__list
								ul
									li: a.page-series__app__daichi__app-store(href="#"): img(src="./images/app-store.svg" alt="")
									li: a.page-series__app__daichi__google-play(href="#"): img(src="./images/google-play.svg" alt="")

		.page-series__console
			.page-series__console__image(style="background-image:url(./images/series-console.jpg)")
			.page-series__console__content
				.h1.page-series__console__title
					| Пульт управления
				.page-series__console__text
					| Удобный беспроводной пульт дистанционного управления. С&nbsp;LCD-дисплеем для запуска, остановки и&nbsp;регулирования режимов работы кондиционера.
				.page-series__console__desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et&nbsp;viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et&nbsp;magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget

		.page-series__range
			.h4.page-series__range__subtitle
				| Серия SEMPAI
			.page-title.page-series__range__title
				| Самое лучшее для Вашего комфорта
			.page-series__range__image
				img(src="./images/series-range.png" alt="")
			.page-series__range__button
				a.button(href="#") Где купить
