.container
	.breadcrumbs.breadcrumbs--margin
		ul
			li: a(href="#") Главная
			li: a(href="#") Поддержка
			li Обслуживание и ремонт

	.top-menu-list
		ul
			li: a(href="#") Поддержка
			li: a(href="#") Гарантия
			li.is-active Обслуживание и ремонт
			li: a(href="#") Техническая поддержка

	.page-service
		h1.page-title.page-service__title
			| Обслуживание и&nbsp;ремонт

		.page-service__intro
			.page-service__intro__image
				img(src="./images/service.jpg" alt="")
			.page-service__intro__authorized
				h2.page-service__intro__authorized__title
					| Авторизованные сервисные центры
				.page-service__intro__authorized__text
					| Покупателям техники, торговой марки Daichi, всегда доступно техническое обслуживание и&nbsp;ремонт климатического оборудования.
					br
					| По&nbsp;всей России оно осуществляется с&nbsp;помощью системы авторизованных сервисных центров, расположенных в&nbsp;100 городах Российской Федерации.
				.page-service__intro__authorized__button
					a.button(href="#") Найти в&nbsp;ближайшем сервисном центре
