.container
	.breadcrumbs
		ul
			li: a(href="#") Главная
			li Карта сайта

	h1.page-title
		| Карта сайта

	.page-text-list
		ul
			li: a(href="index.html") #[b Главная]
			li: a(href="styles.html") #[b Страница стилей]
			li: a(href="404.html") 404
			li: a(href="mail.html") Шаблон рассылики
			li
				a(href="catalog.html") Каталог
				ul
					li: a(href="catalog.html") Разводящая
					li: a(href="conditioning.html") Кондиционирование
					li: a(href="household.html") Бытовые кондиционеры
					li: a(href="series.html") Серия SEMPAI
					li: a(href="product.html") Карточка товара
					li: a(href="search.html") Результат поиска
			li
				a(href="brand.html") О бренде
				ul
					li
						a(href="tech.html") Технологии
						ul
							li: a(href="tech-detail.html") Детальная страница технологии
					li
						a(href="support.html") Поддержка
						ul
							li: a(href="support-detail.html") Техническая поддержка
							li
								a(href="service.html") Обслуживание и ремонт
								ul
									li: a(href="service-detail.html") Авторизованные сервисные центры
							li: a(href="guarantee.html") Гарантия
					li: a(href="buyers.html") Где купить
					li: a(href="contacts.html") Контакты
					li
						a(href="objects.html") Объекты
						ul
							li: a(href="objects-detail.html") Детальная страница объекты
					li
						a(href="news.html") Новости
						ul
							li: a(href="news-detail.html") Детальная страница новости
			li
				a(href="partners.html") Партнерам
				ul
					li: a(href="dealer.html") Дилерам
					li: a(href="planner.html") Проектировщикам
					li: a(href="customer.html") Заказчикам
			li: a(href="policy.html") Политика конфиденциальности
			li: a(href="terms.html") Пользовательское соглашение
			li: a(href="cookie.html") Управление cookies
