.container
	.breadcrumbs
		ul
			li: a(href="#") Главная
			li Технологии

	.page-tech
		.page-tech__intro
			.page-tech__intro__content
				h1.page-tech__intro__title
					| Современные технологии KENTATSU
				.page-tech__intro__text
					| Вся продукция Kentatsu разрабатывается так, чтобы в&nbsp;наибольшей степени соответствовать реальным потребностям пользователя: быть экономичной, удобной в&nbsp;эксплуатации, а&nbsp;главное&nbsp;&mdash; создавать идеальный комфорт в&nbsp;любом помещении.

		.page-tech__list
			.page-tech__list__row
				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__inner
							.page-tech__item__content
								.page-tech__item__number
									| 01
								.h4.page-tech__item__title
									| Высокие показатели энергоэффективности
								.page-tech__item__text
									| Благодаря совместной работе инженеров и&nbsp;промышленных дизайнеров сплит-система SEMPAI обладает превосходными показателями энергоэффективности.
							.table.page-tech__item__table
								table
									thead
										tr
											th.th-width-120 Kentatsu Sempai
											th 2,5 кВт
											th 3,5 кВт
											th 5,3 кВт
											th 7,0 кВт
									tbody
										tr
											td SEER
											td
												span 8.6
												.page-tech__item__table__class A+++
											td
												span 8.5
												.page-tech__item__table__class A+++
											td
												span 8.5
												.page-tech__item__table__class A+++
											td
												span 8.5
												.page-tech__item__table__class A+++
										tr
											td SCOP
											td
												span 4.6
												.page-tech__item__table__class.page-tech__item__table__class--2 A++
											td
												span 4.6
												.page-tech__item__table__class.page-tech__item__table__class--2 A++
											td
												span 4.6
												.page-tech__item__table__class.page-tech__item__table__class--1 A+
											td
												span 4.2
												.page-tech__item__table__class.page-tech__item__table__class--1 A+

				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__image
							img(src="./images/tech.jpg" alt="")
						.page-tech__item__content
							.page-tech__item__number
								| 02
							.h4.page-tech__item__title
								| Объемный воздушный поток
							.page-tech__item__text
								| Объемный воздушный поток обеспечивает наилучшее перемешивание воздуха в&nbsp;помещении, предотвращая образование застойных зон и&nbsp;неравномерного температурного фона. Такой поток образуется путем сложения перемещений воздухораспределительных устройств кондиционера&nbsp;&mdash; горизонтальных заслонок и&nbsp;вертикальных жалюзи. Постоянное изменение направления подачи воздуха в&nbsp;помещение, закономерностью которого можно управлять, исключает сквозняки и&nbsp;позволяет создать эффект морского бриза.

				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__image
							img(src="./images/tech-2.jpg" alt="")
						.page-tech__item__content
							.page-tech__item__number
								| 03
							.h4.page-tech__item__title
								| Защита от&nbsp;нестабильности электропитания
							.page-tech__item__text
								| Работает при сильных просадках напряжения: 80 ~ 264&nbsp;В.
							.page-tech__item__desc
								| В&nbsp;режиме охлаждения 27/19 &deg;C&nbsp;/ 35/24 &deg;C

				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__pic
							.page-tech__item__pic__image(style="background-image:url(./images/tech-3.jpg)")
							.page-tech__item__content
								.page-tech__item__number
									| 04
								.h4.page-tech__item__title
									| Биполярный ионизатор
								.page-tech__item__text
									| Современный генератор ионов, который высвобождает положительные и&nbsp;отрицательные ионы, удаляя запах, пыль, дым и&nbsp;частицы пыльцы, обеспечивая свежий и&nbsp;здоровый воздух.

				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__image
							img(src="./images/tech-4.jpg" alt="")
						.page-tech__item__content
							.page-tech__item__number
								| 05
							.h4.page-tech__item__title
								| Обнаружение утечки хладагента
							.page-tech__item__text
								| При утечке фреона, во&nbsp;избежание перегрузки компрессора или его повреждения, кондиционер останавливается, а&nbsp;на&nbsp;панели блока и&nbsp;на&nbsp;пульте управления появляется код ошибки

				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__image
							img(src="./images/tech-5.jpg" alt="")
						.page-tech__item__content
							.page-tech__item__number
								| 06
							.h4.page-tech__item__title
								| Высокоэффективные компрессора
							.page-tech__item__text
								| Подобно бегуну, бегущему к&nbsp;финишу, эта технология позволяет компрессору достигать максимальной частоты вращения в&nbsp;мгновение ока (65&nbsp;Гц за&nbsp;6&nbsp;секунд с&nbsp;момента запуска).

				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__inner.page-tech__item__inner--wifi
							.page-tech__item__content
								.page-tech__item__number
									| 07
								.h4.page-tech__item__title
									| Управление через Wi-Fi
								.page-tech__item__text
									| Возможность управления со&nbsp;смартфона или&nbsp;ПК при помощи мобильного приложения Daichi Comfort и&nbsp;Wi-Fi-контроллера. Опция
								.page-tech__item__app
									.page-tech__item__app__list
										ul
											li
												.page-tech__item__app__daichi
													img(src="./images/daichi.svg" alt="")
											li: span.page-tech__item__app__app-store.js-link(data-href="#" data-target="_blank"): img(src="./images/app-store.svg" alt="")
											li: span.page-tech__item__app__google-play.js-link(data-href="#" data-target="_blank"): img(src="./images/google-play.svg" alt="")
									.h4.page-tech__item__app__title
										| Daichi Comfort
									.page-tech__item__app__text
										| Скачайте в&nbsp;App Store или Google Play.
							.page-tech__item__list
								.page-tech__item__list__title
									| Расширенный диапазон функций управления в&nbsp;мобильном приложении Daichi Comfort:
								.page-text-list
									ul
										li Возможность управления через интернет из&nbsp;любой точки мира, в&nbsp;том числе с&nbsp;помощью голосового помощника
										li Персонализированные настройки, использование заранее заданных режимов и&nbsp;пользовательских сценариев
										li Установка таймеров, составление расписаний
										li Включение/отключение на&nbsp;основе данных геолокации
										li Одно мобильное приложение может контролировать все объекты и&nbsp;помещения

				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__image
							img(src="./images/tech-6.jpg" alt="")
						.page-tech__item__content
							.page-tech__item__number
								| 08
							.h4.page-tech__item__title
								| Классический японский дизайн
							.page-tech__item__text
								| Лицевая панель выполнена из&nbsp;матового пластика приятного на&nbsp;ощупь.

				.page-tech__list__col
					a.page-tech__item(href="#")
						.page-tech__item__image
							img(src="./images/tech-7.jpg" alt="")
						.page-tech__item__content
							.page-tech__item__number
								| 09
							.h4.page-tech__item__title
								| Антикоррозийное покрытие GOLDEN FIN
							.page-tech__item__text
								| Защищает теплообменник от&nbsp;негативного воздействия влаги, соли, агрессивных загрязнителей воздуха, абразивных частиц. Также препятствует размножению бактерий и&nbsp;улучшает теплообмен.

				.page-tech__list__col.page-tech__list__col--half
					a.page-tech__item(href="#")
						.page-tech__item__inner
							.page-tech__item__number
								| 10
							.page-tech__item__inner__image
								img(src="./images/tech-8.jpg" alt="")
							.page-tech__item__content
								.h4.page-tech__item__title
									| Технология &laquo;EASY CLIMATE&raquo; и&nbsp;&laquo;EASY CLIMATE PRO&raquo;
								.page-tech__item__text
									| Модели YUMO и&nbsp;SEMPAI. Никогда разборка внутреннего блока не&nbsp;была такой простой операцией.
				
				.page-tech__list__col.page-tech__list__col--half
					a.page-tech__item(href="#")
						.page-tech__item__inner
							.page-tech__item__number
								| 11
							.page-tech__item__inner__image
								img(src="./images/tech-9.jpg" alt="")
							.page-tech__item__content
								.h4.page-tech__item__title
									| Мощная обдувка теплообменника
								.page-tech__item__text
									| Мощная продувка теплообменника наружного блока #[br] избавляет устройство от&nbsp;налипшего пуха, грязи и&nbsp;налета.
