.container
	.breadcrumbs
		ul
			li: a(href="#") О бренде
			li: a(href="#") Технологии
			li Объемный воздушный поток

	.page-detail
		h1.page-title.page-detail__title
			| Объемный #[br] воздушный поток

		.page-detail__content
			.wrapper
				.wrapper__side
					.page-detail__return
						a.link-return(href="#") Ко всем новостям
					.page-detail__return-bottom.for-desktop
						a.link-return(href="#") Ко всем новостям
				.wrapper__content
					.page-detail__wrap
						.h3.page-detail__subtitle
							| Объемный обдув
						.page-detail__text
							| В&nbsp;наших кондиционерах используются аэродинамические технологии, применяемые при создании реактивных двигателей. При проектировании формы воздушных каналов в&nbsp;кондиционере для оптимальной циркуляции воздуха использовались методы вычислительной гидродинамики, применяющиеся в&nbsp;проектировании лопаток турбореактивных двигателей.
						.page-detail__image
							img(src="./images/tech-detail.jpg" alt="")
						.h3.page-detail__subtitle
							| Программируемый режим
						.page-detail__text
							| Применение автоматических горизонтальных и&nbsp;вертикальных жалюзей позволяет равномерно охладить или прогреть всю комнату, даже самые труднодоступные уголки. Вертикальное и&nbsp;горизонтальное закручивание потока воздуха обеспечивают объемный обдув, которым вы&nbsp;сможете легко управлять с&nbsp;помощью всего одной клавиши на&nbsp;пульте дистанционного управления. Благодаря мощному объемному обдуву теплый или холодный воздух распространяется по&nbsp;всей комнате.
						.page-text-list.page-detail__list
							ul
								li Не&nbsp;следует открывать окна и&nbsp;двери при включенной сплит-системе
								li Не&nbsp;направляйте холодный воздух на&nbsp;человека
								li Обеспечьте ежегодное техническое обслуживание кондиционера
						.page-detail__text
							| Применение автоматических горизонтальных и&nbsp;вертикальных жалюзей позволяет равномерно охладить или прогреть всю комнату, даже самые труднодоступные уголки. Вертикальное и&nbsp;горизонтальное закручивание потока воздуха обеспечивают объемный обдув, которым вы&nbsp;сможете легко управлять с&nbsp;помощью всего одной клавиши на&nbsp;пульте дистанционного управления. Благодаря мощному объемному обдуву теплый или холодный воздух распространяется по&nbsp;всей комнате.
						.page-detail__row
							.page-detail__col
								.page-detail__image
									img(src="./images/tech-detail-2.jpg" alt="")
							.page-detail__col
								.page-detail__image
									img(src="./images/tech-detail-3.jpg" alt="")
						.page-detail__text
							| В&nbsp;наших кондиционерах используются аэродинамические технологии, применяемые при создании реактивных двигателей. При проектировании формы воздушных каналов в&nbsp;кондиционере для оптимальной циркуляции воздуха использовались методы вычислительной гидродинамики, применяющиеся в&nbsp;проектировании лопаток турбореактивных двигателей.
			.page-detail__return-bottom.for-mobile
				a.link-return(href="#") Ко всем новостям
