.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/4.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Торгово-развлекательный центр &laquo;Европа&nbsp;34&raquo;
			.page-objects__item__text
				| Старый Оскол
			.page-objects__item__desc
				| DX&nbsp;Pro II&nbsp;Kentatsu
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/5.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Бизнес-центр &laquo;Лига наций&raquo;
			.page-objects__item__text
				| Ростов-на-Дону
			.page-objects__item__desc
				| Мультизональные системы Kentatsu DX&nbsp;PRO
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/6.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Торговый центр &laquo;Апекс плюс&raquo;
			.page-objects__item__text
				| Ростов-на-Дону
			.page-objects__item__desc
				| Kentatsu DX&nbsp;PRO IV
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/4.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Торгово-развлекательный центр &laquo;Европа&nbsp;34&raquo;
			.page-objects__item__text
				| Старый Оскол
			.page-objects__item__desc
				| DX&nbsp;Pro II&nbsp;Kentatsu
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/5.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Бизнес-центр &laquo;Лига наций&raquo;
			.page-objects__item__text
				| Ростов-на-Дону
			.page-objects__item__desc
				| Мультизональные системы Kentatsu DX&nbsp;PRO
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/6.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Торговый центр &laquo;Апекс плюс&raquo;
			.page-objects__item__text
				| Ростов-на-Дону
			.page-objects__item__desc
				| Kentatsu DX&nbsp;PRO IV
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/4.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Торгово-развлекательный центр &laquo;Европа&nbsp;34&raquo;
			.page-objects__item__text
				| Старый Оскол
			.page-objects__item__desc
				| DX&nbsp;Pro II&nbsp;Kentatsu
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/5.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Бизнес-центр &laquo;Лига наций&raquo;
			.page-objects__item__text
				| Ростов-на-Дону
			.page-objects__item__desc
				| Мультизональные системы Kentatsu DX&nbsp;PRO
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/6.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Торговый центр &laquo;Апекс плюс&raquo;
			.page-objects__item__text
				| Ростов-на-Дону
			.page-objects__item__desc
				| Kentatsu DX&nbsp;PRO IV
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/4.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Торгово-развлекательный центр &laquo;Европа&nbsp;34&raquo;
			.page-objects__item__text
				| Старый Оскол
			.page-objects__item__desc
				| DX&nbsp;Pro II&nbsp;Kentatsu
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/5.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Бизнес-центр &laquo;Лига наций&raquo;
			.page-objects__item__text
				| Ростов-на-Дону
			.page-objects__item__desc
				| Мультизональные системы Kentatsu DX&nbsp;PRO
.page-objects__col
	a.page-objects__item(href="#")
		.page-objects__item__image
			img(src="./images/temp/6.jpg" alt="")
		.page-objects__item__content
			.page-objects__item__title
				| Торговый центр &laquo;Апекс плюс&raquo;
			.page-objects__item__text
				| Ростов-на-Дону
			.page-objects__item__desc
				| Kentatsu DX&nbsp;PRO IV
.page-objects__more.js-load-more(data-target="objects-list")
	a.button.button--black(href="#" data-page="3") Показать еще
