| #[b P4] - защита по температуре испарителя
br
br
| #[b P5] - защита по температуре конденсатора
br
br
| #[b P7] - температура нагнетания слишком высока,включена защита компрессора
br
br
| #[b P9] - слишком низкая температура наружного воздуха, при повышении защита отключится автоматически
br
br
| #[b P10] - защита по выходному давлению
br
br
| #[b P11] - защита по давлению всасывания
br
br
| #[b P12] -защита от перегрузки по току
br
br
| #[b E1] - датчик температуры внутреннего воздуха Т1 замкнут/оборван
br
br
| #[b E2] - датчик температуры испарителя Т2 замкнут/оборван
br
br
| #[b E3] - датчик температуры конденсатора Т3 замкнут/оборван
br
br
| #[b E4] - датчик температуры наружного воздуха замкнут Т4 замкнут/оборван
br
br
| #[b E5] - нарушена связь между внутренним и внешним блоками
br
br
| #[b E6] - защита внешнего блока
br
br
| #[b E10] - ошибка по давлению всасывания компрессора
br
br
| #[b E13] - ошибка фазы компрессора
br
br
| #[b E14] - неправильная фазировка компрессора
br
br
| #[b HS] - запуск размораживания