include pug/mixins

.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.page-support-detail__files__col
	a.file.event-document(href="#")
		.file__icon
			+svg('pdf')
		.file__content
			.file__name
				| Kentatsu. Инструкция по&nbsp;применению.pdf
			.file__info
				| 2.4 МБ
.navigation.js-load-more(data-target="files-1" data-type="replace")
	ul
		li: a.is-active(href="#" data-page="1") 1
		li: a(href="#" data-page="2") 2
		li: a(href="#" data-page="3") 3
		li ...
		li: a(href="#" data-page="16") 16
